/* semantic color variables for this project */
:root {
  /* Light Mode Text */
  --very-dark-blue: hsl(200, 15%, 8%);

  /* Light Mode Input */
  --dark-gray: hsl(0, 0%, 52%);

  /*  (Light Mode Background) */
  --very-light-gray: hsl(0, 0%, 98%);




  /* Dark Mode Elements */
  --dark-blue: hsl(209, 23%, 22%);
  /* Dark Mode Background */
  --very-dark-blue: hsl(207, 26%, 17%);
  /* Dark Mode Text & Light Mode Elements */
  --white: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-blue);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--very-dark-blue);
  background: var(--very-light-gray);
}

body.dark {
  color: var(--white);
  background: var(--very-dark-blue);
}

.site-btn {
  box-shadow: 0 0 4px 2px #ddd;
  padding: 4px 16px;
  font-size: 80%;
  transition: .2s ease-in-out;
  border-radius: 2px;
  border-color: transparent;
}
.site-btn:hover {
  background: inherit;
  box-shadow: 0 0 2px 1px #ddd;
  border-color: transparent;
}

.site-btn__icon {
  widows: 20px;
  margin-right: 10px;
}