@import '../css/base.css';

.nav {
    background: var(--white);
    box-shadow: 0 0 2px 2px #ddd;
}
.element {
    background: (--white);
    transition: 0.5s ease-in-out;
   
}
.element.dark {
    background: var(--dark-blue) !important;
    border-color: transparent !important;
}
.main {
    padding: 3em 0;
}



@media (hover: hover) {
    
}

@media (min-width: 1024px) {}